
body{
    background-color: rgb(176, 214, 176);
    color: black;
   font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;

}
.btn-proximo{
    background:#4CAF50;
    color:white;
    border:none;
    padding:18px 35px;
    font-size:20px;
    border-radius:10px;
    cursor:pointer;
}

.btn-proximo:hover{
    background:#388E3C;
}



.escondida{
    display:none;
}
