
body{
    background-color: rgb(176, 214, 176);
    color: black;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;

}

button {
    background-color: #2E7D32;
    color:aliceblue
   font-family: "Inter",sans-serif;
  }

.passo {
    display: none;
}
.passo.ativo{
    dsiplay:block;
}



.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

h2 {
    text-align: center;
}